#https://github.com/github/gitignore/blob/master/Grails.gitignore

/web-app

# IDE support files
/.classpath
/.project
/.settings
/eclipse

*.log

# plugin release files
/*.zip
/plugin.xml

# "temporary" build files
/target
/target-eclipse

# other
*.iws
/.*.md.html
